<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="text-muted">&copyEPIKK 2021</span>
        <span style="float:right" class="text-muted">
            <a href="https://www.facebook.com/groups/2093731054233343/">Find Us on Facebook!</a>
        </span>
    </div>
</footer>